
h4,h3{
	font-family: 'Poiret One', cursive;
}

label , button{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.contenedor{
	background-color: rgb(139,30,46);
	height: 280px;
	padding: 9px;
	width: 490px;
	box-sizing: border-box;
}
.uno{
	width: 440px;
	height: 100px;
	margin: 10px;
}
.dos{
	width: 240px;
	height: 100px;
	margin:10px;
	background-color: #f9e777;
}